Source: soulmate-settings
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8)

Package: soulmate-gtk-bookmarks-settings
Architecture: all
Depends: ${misc:Depends}, soulmate-transmute
Conflicts: aurex-gtk-bookmarks-settings
Description: configure users gtk-bookmarks
 tools to manage gtk-bookmarks in soulmate environments

Package: tg3-fix
Architecture: all
Depends: ${misc:Depends}, udev, ethtool
Description: fix hardware issues with tg3 network module
 This package installs an udev rule to disable highdma
 when loading tg3 network module

Package: soulmate-default-settings
Architecture: all
Depends: ${misc:Depends}, soulmate-transmute
Recommends: vim
Description: default settings for the soulmate desktop
 This package contains the default settings used by soulmate

Package: soulmate-themes
Architecture: all
Depends: ${misc:Depends}, soulmate-transmute, mate-themes
Description: soulmate themes
 This package contains soulmate themes

Package: soulmate-artwork
Architecture: all
Depends: ${misc:Depends}, libglib2.0-bin
Conflicts: mint-artwork-mate
Description: Default soulmate artwork for MATE
 Soulmate desktop default artwork for MATE 

